aiofiles==0.3.1
aniso8601==1.2.1
AoikLiveReload==0.1.0
argh==0.26.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
elasticsearch==5.4.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-PyMongo==0.5.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.2
grpcio==1.4.0
grpcio-tools==1.4.0
httptools==0.0.9
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
konlpy==0.4.4
MarkupSafe==1.0
numpy==1.13.1
pathtools==0.1.2
peewee==2.10.1
protobuf==3.3.0
py==1.4.34
pymongo==3.5.0
PyMySQL==0.7.11
pytest==3.1.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
sanic==0.5.4
scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
SQLAlchemy==1.1.13
ujson==1.35
urllib3==1.22
uvloop==0.8.0
watchdog==0.8.3
websockets==3.3
Werkzeug==0.12.2
